.krg_rot{
    color:#c40505 !important;
}

body { 
    padding-top: 70px;
}

#rennen_nummer{
    width: 80px;
    height: 40px;
    background:#333333;
    color:#fff;
    line-height: 40px;
    font-size: 33px;
    text-align: center;
    margin: 45px 0 0 0;
}

#rennen_nummer_alternativ{
    display: none;
}

@media only screen and (max-device-width: 480px) and (orientation : landscape) {
    /* iPhone Normal Landscape*/ 
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone Landscape Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : portrait) {
    /* iPhone Normal Portrait*/ 
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone Portrait Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
    /* iPad Normal Landscape */

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    /* iPad Normal Portrait */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Normal Landscape Retina */

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Normal Portrait Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}