/* the navbar requires a padding from the top */

body { 
    padding-top: 70px;
}

.krg_rot{
    color:#c40505 !important;
}

#rennen_nummer{
    height: 40px;
    background:#333333;
    color:#fff;
    line-height: 40px;
    font-size: 33px;
    text-align: center;
    margin: 45px 0 0 0;
    width:80px;
}

#rennen_nummer_alternativ{
    display: none;
}

a.active{
    font-weight: bold; 
}

/* making those popover links black, less like a link */

a.popoverRower{
    color: #333333;
}

/* I disagree on the colors bootstrap sets for the rows */

tr.danger > td{
    background-color: #e38d8b !important;
}

tr.success > td {
    background-color: #93cf90 !important;
}

/* PC */

@media only screen and (min-device-width:1025px) {
    .same_row {
        display: table;
        width: 100%;
    }

    .col-* {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : landscape) {
    /* iPhone Normal Landscape*/ 
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone Landscape Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : portrait) {
    /* iPhone Normal Portrait*/ 
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (max-device-width: 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone Portrait Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
    /* iPad Normal Landscape */
    .same_row {
        display: table;
        width: 100%;
    }

    .col-* {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    /* iPad Normal Portrait */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Normal Landscape Retina */
    .same_row {
        display: table;
        width: 100%;
    }

    .col-* {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Normal Portrait Retina */
    #rennen_nummer {
        display:none;
    }
    #rennen_nummer_alternativ {
        display:block;
    }
}